.homeCanvas{
    width: 100vw;
    height: 100vh;
    max-width: 100%;
}

.homeContainer{
    background-color: white;
    padding-top: 4vmax;
    border-radius: 0 0 200px 200px;
    border-bottom: 200px solid white;
    position: relative;
    z-index: 1;
}

.homeContainer > h3 {
    text-align: center;
    color: rgba(22,20,30,0.904);
    padding: 4vmax;
}